*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
*.tfplan
terraform.tfvars
terraform.tfvars.json
*.backup
aws-mfa-env.sh
SRC/grafana/grafana.db
SRC/grafana/csv/
SRC/grafana/pdf/
SRC/grafana/png/
SRC/grafana/plugins/